.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .contentWrapper {
    flex: 1;
  }
  
  .hero {
    background-image: url('https://images.pexels.com/photos/21937092/pexels-photo-21937092.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
  }
  
  .heroContent {
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background to enhance readability */
    padding: 20px;
    border-radius: 10px;
  }
  
  .reviewButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #009879;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .reviewsTitle {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
  }
  
  .reviewsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .reviewCard {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .imagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .reviewImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .reviewCard button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    align-self: center;
  }
  